name: Build
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      pull-requests: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          persist-credentials: false

      - name: Login to ghcr.io
        env:
          GITHUB_TOKEN: ${{ github.token }}
          GITHUB_ACTOR: ${{ github.actor }}
        run: |
          echo $GITHUB_TOKEN | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      - name: Install terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3

      - name: Build and push images
        run: |
          make init
          make apply-approve

      - name: Update README.md
        run: |
          make README.md gomplate="docker run -v $PWD:/src:ro -w /src hairyhenderson/gomplate:stable@sha256:352552aa583f824675eddb4e3e90e78c4901c3f3906033195402bb3ffc1d1464"

      - name: Create Pull Request
        uses: canonical/create-pull-request@0c530edc7b04299ff904648de2c8c723cb6ded12
        with:
          github-token: ${{ github.token }}
          upsert: true
          branch-name: github-actions/update
          ignore-no-changes: true
          title: Update tags and README.md
          commit-message: Update tags and README.md
          auto-merge: true
